.AppLight {
  height: 100vh;
  background-image: url("./assets/svg/background-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

.AppDark {
  background-color: black;
}
